/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
 /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0,0,0,0);
  
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

p {
	font-size:12px;
}

#submit_Form > main > div{
	margin-top : 50px;
}
.btn{
	margin-right:4px;
}

img{
	width: 60%;
	height: 60%; 
}

input, select {
  width:170px;
  height:20px;
}

.right{
	text-align:right;
}

#submit > main > div{
	margin-top:50px;
}


/*파일 업로드 버튼*/
.btn-upload{
	padding: 4px 20px;
 	background-color:#333;
	border-radius: 4px;
	color: white;
}

#file {
  display: none;
  
}