<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.test.TestDAO">
	<select id="selectTest" resultType="com.example.demo.test.TestVO">
	<![CDATA[
		SELECT NAME FROM TEST_TABLE
	]]>
	</select>

	<insert id="insertTest">
		INSERT INTO INSA (sabun, name, id, pwd, hp, reg_no, email, join_date, job_type,mil_yn) VALUES (insa_seq.nextval, #{name}, #{id}, #{pwd}, #{hp}, #{reg_no}, #{email}, #{join_date}, #{job_type},#{mil_yn})
	</insert>
	
	
	
	<select id="selectCommon" resultType="com.example.demo.test.TestVO">
		SELECT * FROM INSA_COM
	</select>
	
	<select id="idCheck" resultType="int">
		SELECT count(*) FROM INSA WHERE id = #{memberId}
	</select>
</mapper>