<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.test.TestDAO">
	<select id="selectTest" resultType="com.example.demo.test.TestVO">
	<![CDATA[
		SELECT NAME FROM TEST_TABLE
	]]>
	</select>

	<insert id="insertTest">
		INSERT INTO INSA (sabun,name,id,pwd,hp,re_no,email,join_date) VALUES (insa_seq.NEXTVAL,#{id}, #{name}, #{pwd},#{hp},#{reg_no},#{email},#{join_day});
	</insert>
</mapper>